Items EDA

In [2]:
import pandas as pd
import matplotlib.pyplot as plt # Importamos matplotlib.pyplot y seaborn para realizar graficos
import seaborn as sns

In [3]:
df_items = pd.read_parquet(r'../Data/clean_games_items.parquet.gzip') # Leemos el archivo
df_items.head()

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,genre
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,counter-strike,6,6
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,team fortress classic,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,day of defeat,7,7
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,deathmatch classic,0,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,half-life: opposing force,0,0

In [4]:
# Se calcula la cantidad de registros
print(f'La cantidad de registros que hay son: {df_items.shape[0]}')

La cantidad de registros que hay son: 5153209

In [6]:
df_items.describe(include='all')

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,genre
count,5153209,5.153209e+06,5153209,5153209,5153209,5153209,5.153209e+06,5.153209e+06
unique,70912,NaN,70912,70912,10978,10944,NaN,NaN
top,phrostb,NaN,76561198102767019,http://steamcommunity.com/id/phrostb,205790,dota 2 test,NaN,NaN
freq,7762,NaN,7762,7762,49571,49571,NaN,NaN
mean,NaN,3.147229e+02,NaN,NaN,NaN,NaN,9.914951e+02,9.914951e+02
std,NaN,6.933596e+02,NaN,NaN,NaN,NaN,5.418204e+03,5.418204e+03
min,NaN,1.000000e+00,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00
25%,NaN,7.200000e+01,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00
50%,NaN,1.380000e+02,NaN,NaN,NaN,NaN,3.400000e+01,3.400000e+01
75%,NaN,2.760000e+02,NaN,NaN,NaN,NaN,3.550000e+02,3.550000e+02
max,NaN,7.762000e+03,NaN,NaN,NaN,NaN,6.427730e+05,6.427730e+05