In [1]:
import json # Importamos json para leer nuestros json
import ast
import pandas as pd  # Importamos pandas para trabajar con nuestros datasets
import re # Importamos re para modificar nuestros strings

In [9]:
rows = []

with open ('../Data/australian_users_items.json',encoding='MacRoman') as f:
    for line in f.readlines():
        rows.append(ast.literal_eval(line))

df_games_items = pd.DataFrame(rows)

In [10]:

df_games_items.drop('steam_id',axis=1, inplace=True) # Eliminamos la columna que no nos interesa
df_games_items.dropna(inplace=True) # Eliminamos valores faltantes
df_games_items.head()

,user_id,items_count,user_url,items
0,76561197970982479,277,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [11]:

df_games_items = df_games_items.explode('items') # Explotamos la columna items
df_games_items.dropna(subset=['items'],inplace=True) # Eliminamos los registros que tengan items nulos

In [12]:
df_games_items['item_id'] = df_games_items['items'].apply(lambda x: x.get('item_id', '')) # Extraemos las columnas de la explotacion como hicimos previamente
df_games_items['item_name'] = df_games_items['items'].apply(lambda x: x.get('item_name', ''))
df_games_items['playtime_forever'] = df_games_items['items'].apply(lambda x: x.get('playtime_forever', ''))
df_games_items['genre'] = df_games_items['items'].apply(lambda x: x.get('playtime_forever', ''))
df_games_items.drop('items',axis=1, inplace=True) # Ahora si, eliminamos items

In [13]:
df_games_items['item_name'] = df_games_items['item_name'].str.lower()

In [14]:
df_games_items.head()

,user_id,items_count,user_url,item_id,item_name,playtime_forever,genre
0,76561197970982479,277,http://steamcommunity.com/profiles/76561197970...,10,counter-strike,6,6
0,76561197970982479,277,http://steamcommunity.com/profiles/76561197970...,20,team fortress classic,0,0
0,76561197970982479,277,http://steamcommunity.com/profiles/76561197970...,30,day of defeat,7,7
0,76561197970982479,277,http://steamcommunity.com/profiles/76561197970...,40,deathmatch classic,0,0
0,76561197970982479,277,http://steamcommunity.com/profiles/76561197970...,50,half-life: opposing force,0,0

In [ ]:
df_games_items.to_parquet(r'../Data/clean_games_items.parquet.gzip', compression='gzip')